In [1]:
"jay shree ram "

'jay shree ram '

In [2]:
import tensorflow as tf 
from  tensorflow.keras.models import load_model 
import pickle  
import pandas as pd  
import numpy as np

WARNING:tensorflow:From c:\Users\aimje\anaconda3\envs\umesh\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [3]:
# loading the trained model 
model = load_model('model.h5')

# loading the encoded and scaler 
with open('onehot_encoder_geo.pkl','rb') as file:
    label_encoder_geo = pickle.load(file)  
 

with open('label_gender_encoder.pkl','rb') as file:
    label_encoder_gender = pickle.load(file)


with open('scaler.pkl' , 'rb') as file :
    scaler = pickle.load(file)

WARNING:tensorflow:From c:\Users\aimje\anaconda3\envs\umesh\Lib\site-packages\keras\src\backend.py:1398: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

In [5]:
# Example input data
input_data = {
    'CreditScore': 100,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 18,
    'Tenure': 1,
    'Balance': 90000,
    'NumOfProducts': 4,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 90000
}

In [6]:
# one-hot encoding geography 

geo_encoded = label_encoder_geo.transform([[input_data['Geography']]]).toarray() 
geo_encoded_df = pd.DataFrame(geo_encoded,columns = label_encoder_geo.get_feature_names_out(['Geography']))  
geo_encoded_df

c:\Users\aimje\anaconda3\envs\umesh\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [7]:
input_df = pd.DataFrame([input_data])  
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,100,France,Male,18,1,90000,4,1,1,90000

In [8]:
input_df['Gender'] = label_encoder_gender.transform(input_df['Gender'])    
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,100,France,1,18,1,90000,4,1,1,90000

In [9]:
input_df= pd.concat([input_df.drop('Geography',axis=1),geo_encoded_df],axis=1)   
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,100,1,18,1,90000,4,1,1,90000,1.0,0.0,0.0

In [10]:
# scaling input 
input_scaled = scaler.transform(input_df)
input_scaled

array([[-5.72485068,  0.91324755, -1.98680001, -1.38944225,  0.2225185 ,
         4.25868381,  0.64920267,  0.97481699, -0.1813654 ,  1.00150113,
        -0.57946723, -0.57638802]])

In [11]:
# predicting churn 
prediction = model.predict(input_scaled)
prediction_prob = prediction[0][0]
prediction_prob

1/1 [==============================] - 0s 110ms/step

0.24497917

In [12]:
if prediction_prob > 0.5 :
    print("will churn")
else:
    print("will not churn ")

will not churn